################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/FacturacionGobierno/v16
.vs/
*.suo
**/slnx.sqlite

# Ignorar carpetas de compilación
bin/
obj/

# Ignorar carpeta de publicación
**/app.publish/